header {
  background-color: rgb(5, 5, 54);
  color: white;
  padding: 1em;
  text-align: center;
}

footer {
  background-color: rgb(5, 5, 54);
  color: white;
  padding:  1em;
  text-align: center;

}
body{
  background-color: rgb(216, 236, 248);
}


 table{
  border: 5px;
  border-color: black;
  border-radius: 5%;
  background-color: black;

}

  tr{
  border: 3px;
  border-color: black;
  background-color: aliceblue;

}

.textoBlanco {
  color: white;
}